.cabecera{
  position: relative;
  .hero-banner{
    background-image: url("/img/home/hero-home.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    @media (max-width: 480px){
      height: 500px;
    }
  }
  .container{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 480px){
      padding: 0;
    }
    h1{
      color: var(--secondaryColor);
      font-size: 65px;
      line-height: 76px;
      max-width: 750px;
      margin: auto;
      text-align: center;
      @media (max-width: 480px){
        font-size: 42px;
        line-height: 45px;
      }
    }
  }
  .arrow-down{
    @include arrow-down(var(--secondaryColor));
    position: absolute;
    z-index: 99;
    right: 0;
  }

}
