.contact-us{
  background-color: var(--brandColorLightBlue);
  padding: 80px 0;
  @media (max-width: 480px){
    padding: 50px 0;
  }
  .left{
    display: flex;
    flex-flow: column;
    padding-right: 177px;
    @media (max-width: 480px){
      padding-right: 0;
    }
    h2{
      font-size: 60px;
      color: var(--secondaryColor);

      @media (max-width: 480px){
        font-size: 42px;
        max-width: 250px;
      }
    }
    form, .wpcf7{
      margin-top: auto;
      display: flex;
      @media (max-width: 480px){
        flex-flow: column;
        margin: 80px 0;
      }

      .form-group{
        margin-bottom: 0;
        width: 100%;
        padding-right: 20px;
        @media (max-width: 480px){
          margin-bottom: 20px;
        }
        input{
          background-color: transparent;
          border: none;
          border-bottom: 1px solid var(--secondaryColor);
          border-radius: 0;
          padding-left: 0;
          padding-bottom: 10px;

          &::placeholder{
            color: var(--secondaryColor);
            opacity: 1;
          }
        }
      }

      button{
        @include custom-button(var(--secondaryColor), var(--brandColorDarkBlue));
        @media (max-width: 480px){
          max-width: 128px;
          margin-left: auto;
        }
      }
    }
  }
  .right{
    h2{
      font-size: 50px;
      color: var(--brandColorDarkBlue);
      height: 144px;

      @media (max-width: 480px){
        font-size: 42px;
        height: auto;
        margin-bottom: 30px;
      }
    }


    .region{
      position: relative;
      color: var(--brandColorDarkBlue);
      margin-bottom: 40px;

      &:last-of-type{
        margin-bottom: 0;
      }
      h3{
        text-transform: uppercase;
        margin-bottom: 0;
        letter-spacing: 1.5px;
        @media (max-width: 480px){
          font-size: 19px;
        }
      }
      p{
        margin: 0;
        @media (max-width: 480px){
          font-size: 15px;
        }
      }
      a{
        position: absolute;
        display: block;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: all 300ms ease;

        &:hover{
          right: -10px;
        }
        img{
          width: 50px;

        }
      }
    }
  }
}
