.modal:not(#videoModal){
  display: block!important;
  transform: translateY(-100%);
  transition: all .5s ease;

  &.show{
    transform: translateY(0);
  }

  .modal-dialog{
    margin: 0;
    width: 100%;
    max-width: 100%;

    .modal-content{
      border-radius: 0px 0px 72px 72px;
      background-color: var(--modalHeader);
      color: var(--textHeader);
      border: none;
      @media (max-width: 480px){
        border-radius: 0px 0px 30px 30px;

      }

      .header{
        position: static;

        .selectitem{
          background-color: var(--brandColorLightBlue);
        }
        &.activo{
          background:none;

          .navbar-expand-lg{
            border-bottom: 1px solid var(--secondaryColor);
          }
        }
      }
      .submenu{
        ul{
          @include unstyled-list;
          padding: 50px 0;

          li{
            a{
              padding-left: 0;
              font-size: 60px;
              color: var(--secondaryColor);
              font-weight: 600;
              position: relative;

              &:before{
                content: "";
                position: absolute;
                background-color: var(--brandColorLightBlue);
                width: 70px;
                height: 70px;
                top: 50%;
                left: -125px;
                transform: translateY(-50%) scale(0);
                border-radius: 100px;
                transition: all 300ms ease-in-out;
              }

              &:hover, &.active{
                color: var(--brandColorLightBlue);

                &:before{
                  transform: translateY(-50%) scale(1);
                  transition: all 300ms ease-in-out;
                }
              }
            }
            &.active{
              a{
                color: var(--brandColorLightBlue);

                &:before{
                  transform: translateY(-50%) scale(1);
                  transition: all 300ms ease-in-out;
                }
              }
            }
          }

        }
        form{
          padding: 50px 0;
          position: relative;

          input{
            width: 100%;
            font-size: 60px;
            background-color: transparent;
            color: var(--secondaryColor);
            border-radius: 0;
            border: none;
            border-bottom: 1px solid var(--secondaryColor);
            padding-left: 0;
            @media (max-width: 480px){
              font-size: 27px;
              padding-left: 30px;
            }

            &::placeholder{
              opacity: 1;
              color: var(--secondaryColor);
            }
          }
          button{
            position: absolute;
            right: 0;
            transition: all 300ms ease;
            &:hover{
              transform: translateX(10%);
            }

            span{
              @include arrow-right(var(--secondaryColor));
              @media (max-width: 480px){
                transform: scale(.5);
              }
            }
          }
        }
      }
    }
  }
  &#mobileModal{
    .header-modal{
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--secondaryColor);
      img{
        width: 144px;
        height: 20px;
        margin: auto 0;
      }
      button{
        background-color: transparent;
        border: 2px solid var(--secondaryColor);
        border-radius: 100%;
        width: 30px;
        height: 30px;
        padding: 0;
        color: var(--secondaryColor);
        font-size: 17px;
        font-weight: bold;
      }
    }
    .listados{
      padding: 30px 0;

      ul{
        @include unstyled-list;
        border-bottom: 1px solid var(--secondaryColor);
        padding-bottom: 30px;

        &:last-of-type{
          border-bottom: none;
        }
        li{
          a{
            font-size: 25px;
            color: var(--secondaryColor);
            font-weight: 600;
            position: relative;

            &:before{
              content: "";
              position: absolute;
              background-color: var(--brandColorLightBlue);
              width: 50px;
              height: 50px;
              top: 50%;
              left: -45px;
              transform: translateY(-50%) scale(0);
              border-radius: 100px;
              transition: all 300ms ease-in-out;
            }

            &:hover, &.active{
              color: var(--brandColorLightBlue);

              &:before{
                transform: translateY(-50%) scale(1);
                transition: all 300ms ease-in-out;
              }
            }
          }
          &.active{
            a{
              color: var(--brandColorLightBlue);

              &:before{
                transform: translateY(-50%) scale(1);
                transition: all 300ms ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}
#videoModal{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .modal-dialog{
    max-width: 800px;
  }

  .video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

    iframe{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.modal-backdrop.show{
  opacity: 0;
}
