.contact-us
  .container
    .d-md-flex
      .col-md-8.left
        h2 Packaging design for the future
        
        form
          .form-group
            input.form-control#email(type='email', placeholder='Email')
          button(type='submit') Subscribe
          
      .col-md-4.right
        h2 Write to us
        .region
          h3 United States
          p Ciudad · Ciudad · Ciudad
          a(href="#")
            img(src="/img/flecha-azul-derecha.webp", alt="Flecha derecha")            
        .region
          h3 Latin America
          p Panama · Ciudad · Ciudad
          a(href="#")
            img(src="/img/flecha-azul-derecha.webp", alt="Flecha derecha")
        .region
          h3 Around the globe
          p Ciudad · Ciudad · Ciudad
          a(href="#")
            img(src="/img/flecha-azul-derecha.webp", alt="Flecha derecha")
            
             


        
