footer.footer
  .container
    .d-md-flex
      .col-md-6
        .footer-logo.mobile
          a(href="/")
            img(src="/img/Footer-logo.webp", alt="Footer Logo")
        ul
          li.nav-item 
            a.nav-link(href="/about.php") #[span About]
          li.nav-item 
            a.nav-link(href="/innovacion.php") #[span Innovación]
          li.nav-item 
            a.nav-link(href="/soluciones.php") #[span Soluciones]
          li.nav-item 
            a.nav-link(href="/metodologia.php") #[span Metodología]
          li.nav-item 
            a.nav-link(href="/catalogo.php") #[span Catálogo]
          li.nav-item 
            a.nav-link(href="/sostenibilidad.php") #[span Sostenibilidad]
          li.nav-item 
            a.nav-link(href="/blog.php") #[span Blog]
          li.nav-item 
            a.nav-link(href="/contacto.php") #[span Contacto]
            
      .col-md-6.right
        .footer-logo.desktop
          a(href="/")
            img(src="/img/Footer-logo.webp", alt="Footer Logo")
          
        .social-media
          a(href="/")
            img(src="/img/facebook.webp", alt="Facebook")
          a(href="/")
            img(src="/img/linkedin.webp", alt="Linkedin")
          a(href="/")
            img(src="/img/instagram.webp", alt="Instagram")
          a(href="/")
            img(src="/img/youtube.webp", alt="Youtube")
            
  .disclaimer
    p #[b BPS GLASS.] All rights reserved. 2022
