header.header
  .container
    .row
      .col-12.header--navegacion
        nav.navbar-expand-lg
          #logo-brand
            a(href="/")
            img.desktop(src="/img/Header-logo.webp", alt="Home - Nav")
            img.mobile(src="/img/logo-dark.webp", alt="Home - Nav")

          .btn
            span
            span
            span
                  
          div.collapse.navbar-collapse#navbarNav
            ul
              li.nav-item 
                a.nav-link(href="/soluciones.php") #[span Soluciones]
              li.nav-item 
                a.nav-link(href="/productos.php") #[span Productos]
              li.nav-item 
                a.nav-link(href="/metodologia.php") #[span Metodología]
              li.nav-item 
                a.nav-link(href="/contacto.php") #[span Contacto]
              li.nav-item.langen 
                a.nav-link(href="#") #[span EN]
              li.nav-item.langes 
                a.nav-link(href="#") #[span ES]
              li.nav-item.selectitem 
                a.nav-link(href="/about") #[span About]
              li.nav-item.icon.search 
                a.nav-link(href="/about")
                  img(src="/img/seach.webp", alt="Busqueda")
        
                  
                    
