.modal#menuModal(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      header.header
        .container
          .row
            .col-12.header--navegacion
              nav.navbar-expand-lg
                #logo-brand
                  a(href="/")
                    picture 
                      source(srcset="/img/Header-logo.webp", type="image/webp")
                      img(src="/img/Header-logo.png", alt="Home - Nav")
      
                .btn(data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                        
                div.collapse.navbar-collapse#navbarNav
                  ul
                    li.nav-item 
                      a.nav-link(href="/soluciones.php") #[span Soluciones]
                    li.nav-item 
                      a.nav-link(href="/productos.php") #[span Productos]
                    li.nav-item 
                      a.nav-link(href="/metodologia.php") #[span Metodología]
                    li.nav-item 
                      a.nav-link(href="/contacto.php") #[span Contacto]
                    li.nav-item.langen 
                      a.nav-link(href="#") #[span EN]
                    li.nav-item.langes 
                      a.nav-link(href="#") #[span ES]
                    li.nav-item.selectitem 
                      a.nav-link(href="/about") #[span About]
                    li.nav-item.icon.search 
                      a.nav-link(href="/about")
                        img(src="/img/seach.webp", alt="Busqueda")
                    li.nav-item.icon.shop 
                      a.nav-link(href="/about")
                        img(src="/img/shop.webp", alt="Carrito")
                        
      .submenu   
        .container
          ul
            li.nav-item 
              a.nav-link(href="/about.php") #[span About]
            li.nav-item 
              a.nav-link(href="/sostenibilidad.php") #[span Sostenibilidad]
            li.nav-item 
              a.nav-link(href="/innovacion.php") #[span Innovación]
            li.nav-item 
              a.nav-link(href="/blog.php") #[span Blog]
              
.modal#searchModal(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      header.header
        .container
          .row
            .col-12.header--navegacion
              nav.navbar-expand-lg
                #logo-brand
                  a(href="/")
                    picture 
                      source(srcset="/img/Header-logo.webp", type="image/webp")
                      img(src="/img/Header-logo.png", alt="Home - Nav")
      
                .btn(data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                        
                div.collapse.navbar-collapse#navbarNav
                  ul
                    li.nav-item 
                      a.nav-link(href="/soluciones.php") #[span Soluciones]
                    li.nav-item 
                      a.nav-link(href="/productos.php") #[span Productos]
                    li.nav-item 
                      a.nav-link(href="/metodologia.php") #[span Metodología]
                    li.nav-item 
                      a.nav-link(href="/contacto.php") #[span Contacto]
                    li.nav-item.langen 
                      a.nav-link(href="#") #[span EN]
                    li.nav-item.langes 
                      a.nav-link(href="#") #[span ES]
                    li.nav-item.selectitem 
                      a.nav-link(href="/about") #[span About]
                    li.nav-item.icon.search 
                      a.nav-link(href="/about")
                        img(src="/img/seach.webp", alt="Busqueda")
                    li.nav-item.icon.shop 
                      a.nav-link(href="/about")
                        img(src="/img/shop.webp", alt="Carrito")
                        
      .submenu   
        .container
          form.search.form-inline(method="get", action="", role="search")
            input.form-control.search-input(type="search", name="s", placeholder="Search")
            button.btn.search-submit(type="submit", role="button")
              span
    
.modal#mobileModal(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .container
        .header-modal
          img(src="/img/Header-logo.webp", alt="Home - Nav")
          button.close-modal x
      
        .listados
          ul
            li.nav-item 
              a.nav-link(href="/soluciones.php") #[span Soluciones]
            li.nav-item 
              a.nav-link(href="/productos.php") #[span Productos]
            li.nav-item 
              a.nav-link(href="/metodologia.php") #[span Metodología]
            li.nav-item 
              a.nav-link(href="/contacto.php") #[span Contacto]
              
          ul
            li.nav-item 
              a.nav-link(href="/about.php") #[span About]
            li.nav-item 
              a.nav-link(href="/sostenibilidad.php") #[span Sostenibilidad]
            li.nav-item 
              a.nav-link(href="/innovacion.php") #[span Innovación]
            li.nav-item 
              a.nav-link(href="/blog.php") #[span Blog]
            
.modal#videoModal(tabindex='-1', role='dialog')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .video-container
        iframe(src='https://www.youtube.com/embed/_uxgNZqpK4Y', title='YouTube video player', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen)
