@font-face {
    font-family: 'Corbel';
    src: url('/wp-content/themes/BPSglass/fonts/Corbel/Corbel.eot');
    src: url('/wp-content/themes/BPSglass/fonts/Corbel/Corbel.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/BPSglass/fonts/Corbel/Corbel.woff2') format('woff2'),
        url('/wp-content/themes/BPSglass/fonts/Corbel/Corbel.woff') format('woff'),
        url('/wp-content/themes/BPSglass/fonts/Corbel/Corbel.ttf') format('truetype'),
        url('/wp-content/themes/BPSglass/fonts/Corbel/Corbel.svg#Corbel') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Visuelt Pro';
    src: url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Regular.eot');
    src: url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Regular.woff2') format('woff2'),
        url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Regular.woff') format('woff'),
        url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Regular.ttf') format('truetype'),
        url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Regular.svg#VisueltPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Light.eot');
    src: url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Light.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Light.woff2') format('woff2'),
        url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Light.woff') format('woff'),
        url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Light.ttf') format('truetype'),
        url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Light.svg#VisueltPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Medium.eot');
    src: url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Medium.woff2') format('woff2'),
        url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Medium.woff') format('woff'),
        url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Medium.ttf') format('truetype'),
        url('/wp-content/themes/BPSglass/fonts/Visulet/VisueltPro-Medium.svg#VisueltPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}




// @font-face {
// 	font-family: 'Conv_Druk Wide Bold';
// 	src: url('../../fonts/PrimariaRegular/DrukWideBold.eot');
// 	src: local('☺'),
// 		 url('../../fonts/PrimariaRegular/DrukWideBold.ttf') format('truetype'),
// 		 url('../../fonts/PrimariaRegular/DrukWideBold.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'centuryRegular';
// 	src: url('../../fonts/SecundariaRegular/GOTHIC.eot');
// 	src: local('☺'),
// 		 url('../../fonts/SecundariaRegular/GOTHIC.ttf') format('truetype'),
// 		 url('../../fonts/SecundariaRegular/GOTHIC.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'centuryBold';
// 	src: url('../../fonts/SecundariaBold/Century-Gothic-Bold_9789.eot');
// 	src: local('☺'),
// 		 url('../../fonts/SecundariaBold/Century-Gothic-Bold_9789.ttf') format('truetype'),
// 		 url('../../fonts/SecundariaBold/Century-Gothic-Bold_9789.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }
