@mixin unstyled-list {
  list-style: none;
  padding-left: 0;
}
@mixin custom-button($color, $background) {
  color: $color;
  background-color: $background;
  border: 1px solid $background;
  border-radius: 27px;
  padding: 8px 40px;
  display: inline-block;
  @media (max-width: 480px){
    padding: 8px 20px;
  }

  &:hover{
    color: $background;
    background-color: $color;
    text-decoration: none;
  }
}
@mixin vertical-title($color, $font-size) {
  transform: rotate(270deg) translateX(-100%);
  transform-origin: 0 0;
  position: absolute;
  left: -20px;
  text-align: right;
  color: $color;
  font-size: $font-size;
  z-index: 99;
  font-weight: 400;

  @media (max-width: 480px){
    left: 0;
  }
}
@mixin absoluteCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin arrow-down($color){
  background-color: $color;
  transform: scale(.8);
  -webkit-mask: url("/wp-content/themes/BPSglass/assets/img/arrow-down.svg") no-repeat center;
  mask: url("/wp-content/themes/BPSglass/assets/img/arrow-down.svg") no-repeat center;
  width: 60px;
  height: 130px;
  display: block;
}
@mixin arrow-right($color) {
  background-color: $color;
  transform: scale(1);
  -webkit-mask: url("/wp-content/themes/BPSglass/assets/img/background-solutions.webp") no-repeat center;
  mask: url("/wp-content/themes/BPSglass/assets/img/flecha-derecha.svg") no-repeat center;
  height: 60px;
  display: block;
  width: 85px;
}
