.about{
  .somos{
    background-color: #021E73;
    padding-top: 150px;
    padding-bottom: 300px;
    @media (max-width: 480px){
      padding-bottom: 80px;
      padding-top: 100px;
    }
    .container{
      position: relative;
      .somos-flex{
        .somos-col{
          padding: 0;
          .text-area{
            width: 90%;
            margin-bottom: 100px;
            @media (max-width: 480px){
              width: 100%;
              padding: 0 20px;
              margin-bottom: 50px;
            }
            p{
              color: #FFFFFF;
              font-size: 50px;
              font-weight: 600;
              @media (max-width: 480px){
                font-size: 34px;
              }
            }
          }
        }
      }
      .imgs-flex{
        position: absolute;
        @media (max-width: 480px){
          position: static;
          margin-bottom: -550px;
        }
        .imgs-col{
          .img-area{
            position: relative;
            @media (max-width: 480px){
              overflow: hidden;
              border-radius: 45px;
            }
            img{
              width: 100%;
              @media (max-width: 480px){
                height: 600px;
                width: auto;
              }
            }
            p{
              position: absolute;
              top:15%;
              left: 5%;
              max-width: 50%;
              color: #FFFFFF;
              font-weight: 600;
              font-size: 18px;
              @media (max-width: 480px){
                top:7%;
                max-width: 100%;
                padding: 0 30px;
                left: 0%;
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
  .generaciones{
    background-color: #4099F6;
    padding-top: 300px;
    padding-bottom: 40px;
    @media (max-width: 480px){
      padding-bottom: 10px;
      padding-top: 450px;
    }
    .container{
      @media (max-width: 480px){
        padding: 0;
      }
      .generaciones-flex{
        margin-top: 100px;
        margin-bottom: 100px;
        @media (max-width: 480px){
          display: flex;
          flex-flow: column-reverse;
          margin: 50px 0;
        }
        .f-img-col{
          @media (max-width: 480px){
            padding: 0 15px 0 0;
          }
          .img-area{
            img{
              border-radius: 36px;
              width: 100%;
              @media (max-width: 480px){
                border-radius: inherit
              }
            }
          }
        }
        .f-text-col{
          @media (max-width: 480px){
            margin-bottom: 50px;
            padding: 0 30px;
          }
          .text-area{
            p{
              font-size: 30px;
              color: #FDF7F4;
              @media (max-width: 480px){
                font-size: 23px;
              }
            }
          }
        }
      }
      .tab-area{
        padding-top: 80px;
        border-top: 2px solid var(--brandColorDarkBlue);
        flex-wrap: wrap;
        @media (max-width: 480px){
          margin: 0 30px;
          padding-top: 50px;
        }
        .tab-flex{
          margin-bottom: 40px;
          .tab-col{
            padding: 0;
            .tab-flex-d{
              @media (max-width: 480px){
                margin-bottom: 60px;
              }
              .tab-img-col{
                padding: 0;
                @media (max-width: 480px){
                  margin-bottom: 15px;
                }
                img{
                  width: 100%;
                  @media (max-width: 480px){
                    width: 35px;
                  }
                }
              }
              .tab-text-col{
                @media (max-width: 480px){
                  padding: 0;
                }
                h3{
                  font-size: 20px;
                  font-weight: 700;
                  color: #091D6E;
                }
                p{
                  font-size: 14px;
                  color: #091D6E;
                }
              }
            }
          }
        }
      }
    }
  }
  .work{
    padding: 100px 0;
    @media (max-width: 480px){
      padding: 50px 0;
      padding-bottom: 100px;
    }
    .container{
      .work-flex{
        .work-col{
          h2{
            font-size: 80px;
            color: #021E73;
            font-weight: 700;
            margin-bottom: 20px;
            @media (max-width: 480px){
              font-size: 34px;
            }
          }
          form{
            .work-row{
              margin-top: 30px;
              @media (max-width: 480px){
                margin-top: 0;
              }

              .form-col{
                color: #021E73;
                margin: 0;
                @media (max-width: 480px){
                  margin-bottom: 15px;
                }
                input{
                  color: #021E73;
                  border-bottom: 1px solid #021E73;
                  position: relative;
                  &:focus-visible{
                    outline:none;
                  }
                  &[type="file"]::file-selector-button  {
                    visibility: hidden;
                  }
                  &[type="file"]{
                    padding: 3px 0;
                    &::before {
                      content: 'Attached CV';
                      display: inline-block;
                      outline: none;
                      white-space: nowrap;
                      -webkit-user-select: none;
                      padding: 0;
                      width: 100%;
                      cursor: pointer;
                      font-size: 16px;
                      line-height: 24px;
                    }
                    &::after{
                      content:"";
                      background-image: url(http://bpsglass.popyourbrand.website/wp-content/themes/BPSglass/assets/img/clip.webp);
                      width: 22px;
                      height: 22px;
                      background-size: contain;
                      background-repeat: no-repeat;
                      position: absolute;
                      right: 10px;
                      cursor: pointer;
                    }
                  }
                }
                input::placeholder{
                  color: #021E73;
                  opacity: 1;
                  @media (max-width: 480px){
                    font-weight: 500;
                  }
                }

              }
            }
            button{
              font-size: 15px;
              margin-left: 5px;
              border-radius: 40px;
              padding: 0px 20px;
              border-color:#021E73 ;
              background-color:#021E73 ;
              @media (max-width: 480px){
                right: 10px;
                margin-top: 25px;
                margin-left: auto;
                padding: 5px 25px;
              }
            }
          }
        }
      }
    }
  }
  .colab{
    padding: 100px 0;
    background-color: var(--brandColorLightBlue);
    @media (max-width: 480px){
      padding: 75px 0;
    }
    .container{
      .colab-flex{
        .colab-col{
          .text-area{
            padding: 100px 0;
            background-position: center;
            background-image: url("../img/about/colaboramos.png");
            background-size: contain;
            background-repeat: no-repeat;
            @media (max-width: 480px){
              padding: 0;
              background-position: inherit;
              padding-top: 240px;
            }
            p{
              text-align: center;
              color: #ffffff;
              font-size: 40px;
              margin-bottom: 0;
              max-width: 1030px;
              margin: auto;
              @media (max-width: 480px){
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }
  .clientes{
    padding: 100px 0;
    @media (max-width: 480px){
      padding: 50px 0;
    }

    h2{
      @include vertical-title(var(--brandColorDarkBlue), 16px);
      top: 50%;
      transform: rotate(270deg) translateX(-50%);
    }
    .swiper-container{
      .swiper-slide{
        display: flex;
        min-height: 210px;
        img{
          max-width: 200px;
          margin: auto;
          @media (max-width: 480px){
            max-width: 150px;
          }
        }
      }
    }
    .swiper-button-next{
      width: 60px;
      height: 100px;
      right:0;
      @media (max-width: 480px){
        top: 42%;
        right: 0;
      }
      &::after {
        content: "";
        width: 60px;
        height: 100px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(/wp-content/themes/BPSglass/assets/img/flecha-derecha.svg);
      }
    }
  }
}
