.blog{
  padding: 200px 0;
  @media (max-width: 480px){
    padding: 150px 0;
  }
  .text{
    .container{
      .d-md-flex{
        .col-12{
          .text-area{
            text-align: center;
            max-width: 800px;
            margin: auto;
            @media (max-width: 480px){
              margin: 0 15px;
            }
            h1{
              font-size: 60px;
              color: #021E73;
              font-weight: 700;
              line-height: 70px;
              @media (max-width: 480px){
                font-size: 34px;
                line-height: 40px;
              }
            }
          }
        }
      }
    }
  }
  .blog-l{
    .container{
      .d-md-flex{
        .col-12{
          .card-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .card{
              position: relative;
              background: #fff;
              max-width: 430px;
              width: 430px;
              height: auto;
              margin: 40px 40px;
              border-radius: 40px;
              overflow: hidden;
              @media (max-width: 480px){
                margin: 40px 0px;
              }
              .card-image{
                position: relative;
                max-height: 500px;
                @media (max-width: 480px){
                  height: 417px;
                }
                .share{
                  position: absolute;
                  right: 15px;
                  top:15px;
                }
                img{
                  max-width: 100%;
                  height: auto;
                }
              }
              .card-info{
                position: absolute;
                bottom: 0px;
                top: auto;
                background-color: #021E73;
                padding: 25px;
                @media (max-width: 480px){
                  display: flex;
                  flex-flow: column;
                }
                h3{
                  color: #4099F6;
                  display: inline-block;
                  margin-right: 150px;
                  @media (max-width: 480px){
                    margin-right: 0;
                    order: 2;
                  }
                }
                .date{
                  display: inline-block;
                  color: #4099F6;
                  @media (max-width: 480px){
                    display: block;
                    order: 1;
                    margin-bottom: 10px
                  }
                }
                p{
                  color: #fff;
                  margin-bottom: 0;
                  font-size: 14px;
                  @media (max-width: 480px){
                    order: 3;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
