.contacto{
  padding: 100px 0;
  background: var(--brandColorLightBlue);
  .form{
    .container{
      color: var(--secondaryColor);
      padding: 50px 15px;
      @media (max-width: 480px){
        padding: 0 15px;
      }
      .col-12{
        h2{
          padding: 50px 0;
          font-size: 66px;
          color: var(--secondaryColor);
          font-weight: 700;
          max-width: 400px;
          @media (max-width: 480px){
            font-size: 42px;
            padding: 0;
            margin-bottom: 30px;
            max-width: 230px;
          }
        }
        form{
          padding-bottom: 100px;
          @media (max-width: 480px){
            padding-bottom: 50px;
          }
          .form-row{
            .form-group{
              input, select, textarea{
                border: 0px;
                outline: 0px;
                border-bottom: 1px solid var(--brandColorDarkBlue);
                color: var(--secondaryColor);
                margin-bottom: 20px;
                font-size: 20px;
                &::placeholder{
                  color: var(--secondaryColor);
                  opacity: 1;
                }

              }
              select{
                option{
                  background-color: var(--brandColorLightBlue);

                }
              }
              textarea{
                height: 120px;
                resize: none;
                }
              @media (max-width: 480px){
                margin-bottom: 40px;
              }
            }
          }
          button{
            border-radius: 100px;
            color: var(--secondaryColor);
            background-color: var(--brandColorDarkBlue);
            width: 110px;
          }
        }
      }
      .d-flex{
        color: var(--secondaryColor);
        padding-bottom: 150px;
        @media (max-width: 480px){
          padding-bottom: 100px;
        }
        .col-3{
          @media (max-width: 480px){
            margin-right: 80px;
          }
          img{
            width: 25px;
            height: auto;
            padding-bottom: 10px;
          }
          ul{
            list-style: none;
            padding-left: 0px;
          }
          h3{
            @media (max-width: 480px){
              font-size: 21px;
              line-height: 22px;
            }
          }
          p{
            @media (max-width: 480px){
              font-size: 15px;
              line-height: 23px;
            }
          }
        }
      }
      .col{
        h2{
          font-size: 66px;
          font-weight: 700;
          padding-bottom: 10px;
          @media (max-width: 480px){
            color: #021E73;
            line-height: 45px;
            font-size: 42px;
          }
        }
        p{
          @media (max-width: 480px){
            color: #021E73;
            font-size: 21px;
            font-weight: 700;
            line-height: 25px;
          }
        }
      }
    }
  }
}
