.home{
  // .solutions{
  //   background-image: url("/img/home/background-solutions.webp");
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   color: var(--secondaryColor);
  //   display: flex;
  //   @media (max-width: 480px){
  //     background-image: url("/img/home/background-solutions-mobile.webp");
  //
  //   }
  //
  //   .container{
  //     margin: auto;
  //
  //     .text-container{
  //       padding-top: 100px;
  //       padding-bottom: 100px;
  //       @media (max-width: 480px){
  //         padding-top: 300px;
  //         padding-bottom: 50px;
  //       }
  //       h2{
  //         font-size: 60px;
  //         margin-bottom: 80px;
  //
  //         @media (max-width: 480px){
  //           font-size: 32px;
  //           margin-bottom: 10px;
  //         }
  //       }
  //       p{
  //         max-width: 450px;
  //         margin-bottom: 40px;
  //       }
  //       a{
  //         @include custom-button(var(--secondaryColor), var(--brandColorLightBlue));
  //       }
  //     }
  //   }
  // }
  .solutions{
    img{
      width: 100%;
    }
    .text-container{
      width: 100%;
      max-width: 1140px;
      padding: 0 30px;
      text-align: left;
      @include absoluteCentered;
      color: var(--secondaryColor);

      @media (max-width: 480px){
        top:65%;
      }

      h2{
        font-size: 60px;
        margin-bottom: 80px;

        @media (max-width: 480px){
          font-size: 32px;
          margin-bottom: 10px;
        }
      }
      p{
        max-width: 450px;
        margin-bottom: 40px;
      }
      a{
        @include custom-button(var(--secondaryColor), var(--brandColorLightBlue));
      }
    }
  }
  .servicios{
    padding: 100px 0;
    @media (max-width: 480px){
      padding: 50px 0;
    }

    h2{
      @include vertical-title(var(--brandColorLightBlue), 16px);
    }

    .slider-servicios{
      width: 87vw;
      max-width: 1500px;
      text-align: left;
      @media (max-width: 480px){
        padding-bottom: 50px;
        padding-left: 10px;
      }

      .swiper-slide{
        background-color: var(--brandColorDarkBlue);
        color: var(--secondaryColor);
        padding: 80px;
        text-align: left;
        @media (max-width: 480px){
          padding: 30px;
        }

        .title{
          border-bottom: 1px solid var(--secondaryColor);
          margin-bottom: 60px;
          padding-bottom: 60px;
          @media (max-width: 480px){
            margin-bottom: 30px;
            padding-bottom: 30px;
          }

          h3{
            font-size: 60px;
            min-height: 216px;
            margin-bottom: 0;

            @media (max-width: 480px){
              font-size: 34px;
              max-width: 250px;
              min-height: 122px;
            }
          }
        }
        .content{
          display: flex;
          height: 150px;
          overflow: hidden;
          @media (max-width: 480px){
            display: block;
            height: 220px;
          }
          ul{
            @include unstyled-list;
            margin-right: 30px;
            padding-left: 30px;
            margin-bottom: 0;
            @media (max-width: 480px){
              padding-left: 20px;
              margin-right: 0;
            }

            li{
              margin-bottom: 10px;
              position: relative;

              @media (max-width: 480px){
                font-size: 15px;
              }

              &:before{
                content: "";
                background-color: var(--brandColorLightBlue);
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 100px;
                left: -30px;
                top: 7px;
                @media (max-width: 480px){
                  left: -20px;
                }

              }
            }
          }
        }
        &:nth-child(2n+2){
          background-color: var(--brandColorLightBlue);

          ul{
            li{
              &:before{
                background-color: var(--brandColorDarkBlue);
              }
            }
          }
        }
      }
      .swiper-button-next{
        width: 100px;
        height: 50px;
        top: 96%;
        right: 50px;
        transition: all 300ms ease;
        @media (max-width: 480px){
          width: 50px;
          height: 50px;
          right: 30px;
        }

        &:after{
          content: "";
          background-image: url(/wp-content/themes/BPSglass/assets/img/flecha-azul-derecha.webp);
          width: 100px;
          height: 50px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          @media (max-width: 480px){
            width: 50px;
            height: 30px;
          }
        }

        &:hover{
          right: 40px;
        }
      }
      a{
        @include custom-button(var(--secondaryColor), var(--brandColorLightBlue));
        margin-top: 20px;
        @media (max-width: 480px){
          display: none;
        }
      }
    }
  }
  .video{
    background-image: url("/img/home/background-video.webp");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--secondaryColor);
    display: flex;
    padding: 150px 0;
    @media (max-width: 480px){
      padding: 50px 0;
      background-image: url("/img/home/background-video-mobile.webp");
    }

    .col{
      h2{
        @include vertical-title(var(--secondaryColor), 16px);
      }
    }

    .play{
      display: flex;
      @media (max-width: 480px){
        margin-bottom: 70px;
        padding-top: 150px;
      }

      img{
        width: 150px;
        height: auto;
        margin: auto;
        cursor: pointer;
        transition: all 300ms ease;
        @media (max-width: 480px){
          width: 72px;
        }

        &:hover{
          transform: scale(1.1);

        }
      }
    }
    .text-container{
      p.big{
        font-size: 60px;
        font-weight: 600;
        line-height: 70px;
        @media (max-width: 480px){
          font-size: 34px;
          line-height: 39px;
        }
      }
    }
  }
  .innovacion{
    background-color: var(--brandColorDarkBlue);
    padding: 100px 0 50px;
    color: var(--secondaryColor);
    @media (max-width: 480px){
      padding: 50px 0;
    }
    .swiper-container{
      padding-bottom: 50px;

      .swiper-pagination{
        margin: 0;
        bottom: -50px;
        width: 100%;
        max-width: 1140px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        .swiper-pagination-bullet{
          background-color: var(--brandColorLightBlue);
          border-color: var(--brandColorLightBlue);
          width: 8px;
          height: 8px;
          opacity: 1;

          &.swiper-pagination-bullet-active{
            &:after{
              content: "";
              width: 65px;
              height: 10px;
              border-radius: 5px;
              background-color: var(--brandColorLightBlue);
              display: block;
              position: relative;
              left: 50%;
              bottom: -16px;
              transform: translateX(-50%);

              @media (max-width: 480px){
                width: 30px;
                height: 6px;
                bottom: -18px;
              }
            }
          }
        }
      }
    }
    h2{
      @include vertical-title(var(--brandColorLightBlue), 16px);
    }
    .d-md-flex{
      position: relative;
      text-align: left;
    }
    .img-container{
      @media (max-width: 480px){
        padding-left: 25px;
      }
    }
    .text-container{
      display: flex;
      flex-flow: column;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @media (max-width: 480px){
        position: static;
        transform: translateY(-5%);
      }

      p{
        max-width: 580px;
        margin-bottom: 30px;
        @media (max-width: 480px){
          font-size: 15px;
        }
        &.big{
          font-size: 60px;
          font-weight: 600;
          line-height: 70px;
          max-width: none;
          @media (max-width: 480px){
            font-size: 34px;
            line-height: 39px;
          }
        }
      }
      a{
        @include custom-button(var(--secondaryColor), var(--brandColorLightBlue));
        width: fit-content;
      }
    }
    .decoration{
      border-bottom: 1px solid var(--brandColorLightBlue);
      width: 100%;
      margin-top: -5px;
      @media (max-width: 480px){
        margin-top: -5px;
      }
    }
  }
  .trabajos{
    h2{
      @include vertical-title(var(--brandColorDarkBlue), 16px);
      padding-right: 100px;
      @media (max-width: 480px){
        padding-right: 0;
        top: 300px;
        color: var(--textHeader);
      }
    }
    .swiper-container{
      width: 100%;
      height: 80vh;
      overflow: hidden;
      @media (max-width: 480px){
        height: 500px;
      }

      .swiper-slide{

        img{
          width: 100%;
          height: auto;
        }
        .text-container{
          display: none;
          width: 100%;
          max-width: 450px;
          padding: 0  15px;
          text-align: left;
          @include absoluteCentered;
          top: 80%;
          left: 30%;
          color: var(--textHeader);
          @media (max-width: 480px){
            left: 15px;
            top: 50px;
            transform: none;
          }

          h3{
            font-size: 30px;
            text-transform: uppercase;
          }
          p{
            @media (max-width: 480px){
              font-size: 15px;
              max-width: 220px;
            }
          }
        }
      }
      .swiper-button-next{
        top: 75%;
        right: 9%;
        width: 50px;
        height: 100px;
        @media (max-width: 480px){
          top: 50%;
          right: 30px;
        }
        &::after {
          content: "";
          background-image: url(/wp-content/themes/BPSglass/assets/img/arrow-down.svg);
          width: 100px;
          height: 60px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .swiper-pagination-bullets{
        @include absoluteCentered;
        left: inherit;
        right: 10%;
        top: 50%;
        margin: 0;
        @media (max-width: 480px){
          right: 10%;
          top: 20%;
        }

        .swiper-pagination-bullet{
          margin: 20px 0;
        }
      }
    }

  }
  .clientes{
    padding: 100px 0;
    @media (max-width: 480px){
      padding: 50px 0;
    }

    h2{
      @include vertical-title(var(--brandColorDarkBlue), 16px);
      top: 50%;
      transform: rotate(270deg) translateX(-50%);
    }
    .swiper-container{
      .swiper-slide{
        display: flex;
        min-height: 210px;
        img{
          max-width: 200px;
          margin: auto;
          @media (max-width: 480px){
            max-width: 150px;
          }
        }
      }
    }
    .swiper-button-next{
      width: 60px;
      height: 100px;
      right:0;
      @media (max-width: 480px){
        top: 42%;
        right: 0;
      }
      &::after {
        content: "";
        width: 60px;
        height: 100px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(/wp-content/themes/BPSglass/assets/img/flecha-derecha.svg);
      }
    }
  }
}
