.innovacion{
  padding: 200px 0;
  padding-bottom: 0;
  @media (max-width: 480px){
    padding-top: 130px;
  }
  .creamos{
    .container{
      .creamos-flex{
        @media (max-width: 480px){
          display: flex;
          flex-direction: column-reverse;
        }
        .creamos-col-7{
          .swiper-container{
            height: 68vh;
          }
          padding-left: 0;
          padding-right: 30px;
          @media (max-width: 480px){
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 40px;
          }
          .img-area{

          }
        }
        .creamos-col-5{
          display: flex;
          .text-area{
            margin: auto 0;
            max-width: 80%;
            @media (max-width: 480px){
              max-width: 100%;
            }
            h3{
              font-size: 33px;
              line-height: 38px;
              color: #021E73;
              font-weight: 700;
              margin-bottom: 40px;
              max-width: 325px;
              @media (max-width: 480px){
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 30px;
              }
            }
            p{
              font-size: 16px;
              color:#021E73;
              line-height: 18px;
              margin-bottom: 74px;
              @media (max-width: 480px){
                font-size: 14px;
                margin-bottom: 40px;
                line-height: 24px;
              }
            }
            a{
              @include custom-button(var(--secondaryColor), var(--brandColorLightBlue));
              @media (max-width: 480px){
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .divisor{
    padding: 100px 0;
    padding-bottom: 50px;
    @media (max-width: 480px){
      padding: 0
    }
    .container{
      position: relative;
      .white-box{
        width: 70px;
        height: 70px;
        background-color: var(--secondaryColor);
        position: absolute;
        z-index: 99;

        &.white-box-1{
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .divisor-flex{
        flex-wrap: wrap;
        .divisor-col-6{
          padding: 0;
          @media (max-width: 480px){
            padding: 0 15px;
          }
          .divisor-container{
            border-left: 1px solid var(--brandColorLightBlue);
            border-right: 1px solid var(--brandColorLightBlue);
            border-bottom: 1px solid var(--brandColorLightBlue);
            padding: 50px 50px 50px 30px;
            margin-right: -1px;
            @media (max-width: 480px){
              border-left: none;
              border-right: none;
              padding: 37px 0;
            }
          }
          .img-area.c{
            height: 50px;
          }
          .img-area{
            height: 75px;
            margin-bottom: 25px;
            @media (max-width: 480px){
              margin-bottom: 20px;
            }
            img{
              height: 100%;
              width: auto;
            }
          }
          .text-area{
            h3{
              font-size: 30px;
              line-height: 40px;
              color: #021E73;
              font-weight: 700;
              margin-bottom: 60px;
              @media (max-width: 480px){
                margin-bottom: 25px;
              }
            }
            p{
              font-size: 16px;
              color:#021E73;
              max-height: 72px;
              overflow: hidden;
              margin: 0;

            }
          }
          &:nth-child(1n+2),
          &:first-of-type{
            .divisor-container{
              border-left: none;
            }
          }
          &:nth-child(2n+2){
            .divisor-container{
              border-right: none;
            }
          }
          &:nth-child(3n){
            .divisor-container{
              border-bottom: none;
              @media (max-width: 480px){
                border-bottom: 1px solid var(--brandColorLightBlue);
              }
            }
          }
          &:last-of-type{
            .divisor-container{
              border-bottom: none;
            }
          }
        }

      }
    }
  }
  .background{
    padding: 277px 0;
    background-image: url("../img/innovacion/img-fluid.png");
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 480px){
      background-image: url("../img/innovacion/img-fluid-m.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 217px 0;
      margin-top: 50px;
    }
  }
  img{
    width: 100%;
  }
}
