.metodologia{
  padding: 100px 0;
  background-color: var(--brandColorDarkBlue);

  .intro{
    .titulo{
      padding: 100px 0 0;
      h1{
        color: var(--secondaryColor);
        font-size: 66px;
        font-weight: 700;
        line-height: 76px;
        margin-bottom: 80px;
        @media (max-width: 480px){
          font-size: 42px;
          line-height: 45px;
        }
      }
      p{
        color: var(--brandColorLightBlue);
        max-width: 570px;
        margin-left: auto;
      }
      a{
        span{
          @include arrow-down(var(--brandColorLightBlue));
          margin-left: auto;
          @media (max-width: 480px){
            display: none;
          }
        }
      }
    }
  }
  #features{
    margin-top: -150px;
    @media (max-width: 480px){
      margin-top: 150px;
    }
    .container{
      position: relative;

      .big-circle{
        width: 100%;
        aspect-ratio: 1;
        background-color: var(--brandColorLightBlue);
        border-radius: 100%;
        display: flex;
        margin: auto;
        position: relative;
        left: 0;
        transform: translateX(-60%);
        @media (max-width: 480px){
          transform: translateX(-80%);
        }

        .small-circle{
          width: calc(100% - 15px);
          aspect-ratio: 1;
          background-color: var(--brandColorDarkBlue);
          border-radius: 100%;
          margin: auto;
          @media (max-width: 480px){
            width: calc(100% - 10px);
          }
        }
        .bullets{
          position: absolute;
          width: 55px;
          aspect-ratio: 1;
          border-radius: 100%;
          background-color: var(--secondaryColor);
          @media (max-width: 480px){
            width: 15px;
          }

          &.bullet-1{
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &.bullet-2{
            top: 21%;
            right: 5%;
            transform: translate(-50%, -50%);
            @media (max-width: 480px){
              right: 6%;
            }
          }

          &.bullet-3{
            bottom: 21%;
            right: 5%;
            transform: translate(-50%, 50%);
            @media (max-width: 480px){
              right: 6%;
            }
          }
          &.bullet-4{
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
          }
        }
      }
      .swiper-container{
        width: 60%;
        height: 600px;
        position: absolute;
        top: 50%;
        right: 0;
        padding-left: 50px;
        padding-right: 60px;
        transform: translate(-7%, -50%);
        @media (max-width: 480px){
          width: 80%;
          padding-left: 25px;
          padding-right: 0;
        }

        .swiper-slide{
          text-align: left;
          display: flex;

          &:not(.swiper-slide-active){
            opacity: .1;

            img{
              opacity: 0;
              transition: all 300ms ease;
            }
            .text-container{
              p{
                opacity: 0;
                transition: all 300ms ease;
              }
            }
          }
          img{
            width: 100px;
            height: auto;
            margin: auto 50px auto -50px;
            transition: all 300ms ease;
            @media (max-width: 480px){
              width: 50px;
              margin: auto 25px auto -25px;
            }
          }
          .text-container{
            margin: auto 0;

            h3{
              font-size: 35px;
              color: var(--brandColorLightBlue);
              transition: all 300ms ease;
              @media (max-width: 480px){
                font-size: 16px;
              }

            }
            p{
              color: var(--secondaryColor);
              transition: all 300ms ease;
              @media (max-width: 480px){
                font-size: 14px;
              }
            }
          }
        }
      }
      .swiper-button-next{
        bottom: 20px;
        top: inherit;
        right: 0;
        width: 53px;
        @media (max-width: 480px){
          top: 75%;
        }

        &::after{
          content: "";
          @include arrow-down(var(--brandColorLightBlue));
          transform: scale(.8);
          @media (max-width: 480px){
            transform: scale(.4);
          }
        }
        &.swiper-button-disabled{
          opacity: 1;
        }
      }
    }
  }
  .text{
    padding: 100px 0 0;
    p{
      color: var(--secondaryColor);
      font-size: 66px;
      font-weight: 700;
      line-height: 76px;
      margin-bottom: 0;
      @media (max-width: 480px){
        font-size: 30px;
        line-height: 45px;
      }
    }
  }
}
