.productos{
  padding: 200px 0 0;
  @media (max-width: 480px){
  padding: 80px 0;
  }
  .catalogo{
    .col-md-4{
      @media (max-width: 480px){
        display: flex;
        flex-wrap: wrap;
      }
    }
    button{
      border-radius: 51px;
      border: 1px solid var(--brandColorDarkBlue);
      width: 300px;
      height: 50px;
      margin-bottom: 15px;
      @media (max-width: 480px){
        width: fit-content;
        padding: 0 20px;
        height: 40px;
        margin-right: 5px;
      }

      &.download{
        border: 1px solid var(--brandColorLightBlue);
        background-color: var(--brandColorLightBlue);
      }
    }
    .dropdown-menu {
      width: 300px;
    }
    .white-box{
      width: 40px;
      height: 40px;
      background-color: var(--secondaryColor);
      position: absolute;
      z-index: 99;

      &.white-box-1{
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &.white-box-2{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &.white-box-3{
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
      }
      &.white-box-4{
        left: 0;
        bottom: 0;
        transform: translate(-50%, 50%);
      }
      &.white-box-5{
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
      }
      &.white-box-6{
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%);
      }
    }
    .col-6{
      .product-container{
        border-left: 1px solid var(--brandColorDarkBlue);
        border-right: 1px solid var(--brandColorDarkBlue);
        border-bottom: 1px solid var(--brandColorDarkBlue);
        padding: 20px;
        margin-right: -1px;


        .type{
          font-size: 30px;
          color: var(--brandColorDarkBlue);
          font-weight: 700;
          margin-bottom: 0;
          max-height: 45px;
          overflow: hidden;
        }
        .img-container{
          height: 300px;
          display: flex;
          overflow: hidden;
          @media (max-width: 480px){
            height: 190px;
          }

          img{
            height: 100%;
            width: auto;
            margin: auto;
          }
        }
        .description{
          color: var(--brandColorLightBlue);
          max-height: 72px;
          overflow: hidden;
          @media (max-width: 480px){
            font-size: 15px;
          }
        }
      }
      &:nth-child(1n+2){
        .product-container{
          @media (max-width: 480px){
            border-left: none;
          }
        }
      }
      &:nth-child(2n+2){
        .product-container{
          @media (max-width: 480px){
            border-right: none;
          }
        }
      }
      &:nth-child(3n),
      &:last-of-type{
        .product-container{
          @media (max-width: 480px){
            border-bottom: none;
          }
        }
      }
    }
  }
  .slider{
    padding: 100px 0;
    .swiper-container{
      width: 100%;
      height: 560px;
      overflow: hidden;
      @media (max-width: 480px){
        height: 175px;
      }

      .swiper-slide{
        img{
          width: 100%;
          height: auto;
        }
      }
      .swiper-button-next{
        top: 75%;
        right: 50px;
        width: 50px;
        height: 100px;
        @media (max-width: 480px){
          top: 50%;
          right: 30px;
        }
        &::after {
          content: "";
          background-image: url(/wp-content/themes/BPSglass/assets/img/arrow-down.svg);
          width: 100px;
          height: 60px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .swiper-pagination-bullets{
        @include absoluteCentered;
        left: inherit;
        right: 50px;
        top: 50%;
        margin: 0;
        @media (max-width: 480px){
          right: 10%;
          top: 20%;
        }

        .swiper-pagination-bullet{
          margin: 20px 0;
          background: var(--secondaryColor);
          border: 2px solid var(--secondaryColor);
        }
      }
    }
  }
}
