.soluciones{
  padding: 100px 0;
  padding-bottom: 0;
  .asesoramos{
    padding: 50px 0;
    .container{
      .asesoramos-col{
        padding: 0 60px;
        @media (max-width: 480px){
          padding: inherit;
        }
        .text-area{
          padding: 50px 0;
          background-position: right;
          background-image: url("../img/soluciones/trazo-azul.png");
          background-size: contain;
          background-repeat: no-repeat;
          @media (max-width: 480px){
            background-size: 65%;
            padding: 0;
          }
          h1{
            font-size: 68px;
            font-weight: 500;
            color: #021E73;
            line-height: 70px;
            text-align: center;
            margin-bottom: 0;
            max-width: 1000px;
            margin: auto;
            @media (max-width: 480px){
              font-size: 31px;
              line-height: 40px;
            }
          }
        }
      }
    }
  }
  .slider-s{
    padding: 50px 0;
    .container{
      @media (max-width: 480px){
        padding-right: 0;
      }
      .s-col{
        @media (max-width: 480px){
          padding-right: 0;
        }
        .swiper-container#solucionesuno{
          .swiper-wrapper{
            .swiper-slide{

              .box{
                background-color: var(--brandColorLightBlue);
                padding: 25px 40px;
                @media (max-width: 480px){
                  padding: 40px 25px;
                }
                h2{
                  text-align: left;
                  margin-bottom: 80px;
                  @media (max-width: 480px){
                    margin-bottom: 45px;

                  }
                }
                p{
                  text-align: left;
                  min-height: 330px;
                  overflow: hidden;
                  @media (max-width: 480px){
                    min-height: 365px;
                    font-size: 15px;
                  }
                }
                .swiper-button-next{
                  bottom: 20px;
                  top: inherit;
                  right: 35px;
                  width: 60px;
                  height: 41px;

                  &::after{
                    content: "";
                    background-image: url("/wp-content/themes/BPSglass/assets/img/raw.png");
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    display: block;

                  }
                  &.swiper-button-disabled{
                    opacity: 1;
                  }
                }
              }
              &:nth-child(2n+2){
                color: var(--secondaryColor);

                .box{
                  background-color: var(--brandColorDarkBlue);
                }
                .swiper-button-next{
                  &::after{
                    background-image: url("/wp-content/themes/BPSglass/assets/img/ralb.png");
                  }
                }
              }
              &:nth-child(3n+3){
                color: white;

                .box{
                  background-color: var(--modalHeader);
                }
                .swiper-button-next{
                  &::after{
                    background-image: url("/wp-content/themes/BPSglass/assets/img/ralb.png");

                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .tabulador{
    padding: 50px 0;
    .container{
      .tab-flex{
        .tab-os{
          .tab-col-flex{
            border-top: 2px solid #4099F6;
            padding: 25px 0;
            @media (max-width: 480px){
              display: flex;
            }
            .col-img{
              @media (max-width: 480px){
                max-width: 30%;
              }
              .img-area{
                height: 75px;
                text-align: center;
                @media (max-width: 480px){
                  height: 50px;
                  padding: 0;
                }
                img{
                  height: 100%;
                  width: auto;
                }
              }
            }
            .col-text{
              .text-area{
                color: #021E73;
                @media (max-width: 480px){
                  max-width: 110%;
                }
                h2{
                  font-size: 28px;
                  font-weight: 700;
                  @media (max-width: 480px){
                    font-size: 22px;
                    max-width: 170px;
                  }
                }
                p{
                  max-width: 86%;
                  font-size: 14px;
                  @media (max-width: 480px){
                    max-width: 110%
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .gracias{
    padding: 100px 0;
    background-color: var(--disclaimer);
    @media (max-width: 480px){
      padding: 50px 0;
    }
    .container{
      .g-flex{
        .g-col{
          .text-area{
            max-width: 75%;
            @media (max-width: 480px){
              max-width: 100%;
            }
            p{
              font-size: 30px;
              color: #021E73;
              font-weight: 600;
              @media (max-width: 480px){
                font-size: 23px;
              }
            }
          }
        }
      }
    }
  }
}
