.sostenibilidad{
  padding: 100px 0;
  padding-top: 0;
  .creemos{
    padding: 190px 0 150px;
    background-image: url("../img/sostenibilidad/sostenibilidad-h.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 480px){
      padding: 150px 0 50px;
    }
    .creemos-flex{
      .creemos-col{
        .text-area{
          margin: 0 30px;
          text-align: center;
          font-weight: 600;
          @media (max-width: 480px){
            margin: auto 0;
          }
          p{
            font-size: 63px;
            line-height: 73px;
            color: #FCF7F4;
            @media (max-width: 480px){
              font-size: 34px;
              line-height: 39px;
            }
          }
        }
      }
    }
  }
  .responsables{
    padding: 50px 0;
    .container{
      .responsables-flex{
        @media (max-width: 480px){
          display: flex;flex-flow: column-reverse;
        }
        .responsables-col-6{
          display: flex;
          .text-area{
            margin: auto 0;
            h3{
              font-size: 36px;
              margin-bottom: 20px;
              color: #021E73;
              font-weight: 700;
              max-width: 500px;
              @media (max-width: 480px){
                font-size: 23px;
              }
            }
            p{
              color: #091D6E;
              max-width: 570px;
              @media (max-width: 480px){
                font-size: 14px;
              }
            }
          }
          .img-area{
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 480px){
              margin-bottom: 50px;
            }
            img{
              width: 100%;
            }
          }
        }
      }
    }
  }
  .slider{
    background-color: #021E73;
    padding: 50px 0 0;
    .slider-centered{
      max-width: 1500px;
      .swiper-wrapper{
        .swiper-slide{
          display: flex;
          flex-flow: column;
          min-height: 700px;
          width: fit-content;

          @media (max-width: 480px){
            min-height: 210px;
          }
          img{
            width: 85%;
            margin: auto;
            opacity: .8;
          }
          .text-area{
            color: white;
            text-align: left;
            margin-left: 30px;
            display: none;
            margin-bottom: 30px;
            @media (max-width: 480px){
              margin-left: 0;
            }
            h3{
              margin-top: 30px;
              font-size: 25px;
              font-weight: 700;
              @media (max-width: 480px){
                font-size: 23px;
              }
            }
            p{
              max-width: 55%;
              font-size: 15px;
              @media (max-width: 480px){
                max-width: 100%;
              }
            }
          }
          &.swiper-slide-active{
            z-index: 99;

            img{
              width: 100%;
              opacity: 1;
            }
            .text-area{
              display: block;
            }
          }
        }
      }
      .swiper-button-next{
        width: 100px;
        height: 100px;
        @media (max-width: 480px){
          top: 25%;
        }

        &::after{
          content: "";
          @include arrow-right(var(--secondaryColor));
          transform: scale(.8);
        }
      }
      .swiper-button-prev{
        width: 100px;
        height: 100px;
        @media (max-width: 480px){
          top: 25%;
        }

        &::after{
          content: "";
          @include arrow-right(var(--secondaryColor));
          transform: scale(.8) rotate(180deg);
        }
      }
    }
  }
  .sellos{
    padding: 100px 0 0;
    @media (max-width: 480px){
      padding: 50px 0 0;
    }
    .container{
      .certificaciones-flex{
        .certificaciones-col{
          h2{
            font-size: 50px;
            color: #021E73;
            font-weight: 700;
            @media (max-width: 480px){
              font-size: 40px;
            }
          }
        }
      }
      .sellos-flex{
        margin-top: 60px;
        .sellos-col{
          display: flex;
          justify-content: space-around;
          text-align: center;
          @media (min-width: 481px){
            .swiper-container{
              width: 100%;

              .swiper-wrapper{
                display: flex;
                justify-content: space-around;
                .swiper-slide{
                  width: fit-content;
                }
              }
            }
          }

          .sello{
            img{

            }
            .text-area{
              h3{
                margin-top: 25px;
                font-size: 14px;
                color: #091D6E;
              }
            }
          }
        }
      }
    }
  }
}
