- titulo = "About"
- tituloCabecera = "Headline"
- var subtituloCabecera = "Lorem ipsum dolor sit amet."

doctype
html(lang='es')

    include includes/head.pug

    body
        include includes/header.pug
        main.about
          section.somos
            .container
              .d-md-flex.somos-flex
                .col-md-12.somos-col
                  .text-area
                    p Somos una compañía latinoamericana que le apuesta al desarrollo de la industria del glass packaging en todo el mundo con nueva tecnología e iniciativas, combinando experiencia y una metodología 360 desarrollada para acompañar a las empresas de inicio a fin.
              .d-md-flex.imgs-flex
                .col-md-12.imgs-col
                  .img-area
                    img(src="../img/about/super-img.png")
                    p Nuestra historia en esta industria inició en 1961 con la motivación de apoyar a los productores de bebidas en Latinoamérica, sin importar el tamaño de su negocio. Actualmente tenemos una cartera de cientos de clientes en distintas partes del mundo, manteniendo intacto el objetivo de ayudar a crecer a las compañías que nos eligen.
          section.generaciones
            .container
              .d-md-flex.generaciones-flex
                .col-md-6.f-img-col
                  .img-area
                    img(src="../img/about/familia.png")
                .col-md-6.f-text-col  
                  .text-area
                    p Durante tres generaciones familiares hemos comprendido la importancia de invertir tiempo, recursos y esfuerzo en capacitar a decenas de colaboradores con el fin de crear soluciones novedosas que realmente impacten positivamente a toda la cadena de producción.
              .d-md-flex.tab-area
                .d-md-flex.tab-flex
                  .col-md-6.tab-col
                    .d-md-flex.tab-flex-d
                      .col-md-1.tab-img-col
                        img(src="../img/about/expertos.png" alt="Expertos")
                      .col-md-11.tab-text-col
                        h3 Expertos:
                        p Estamos rodeados de un equipo especializado y experto en todos sus campos para desarrollar productos de éxito.
                  .col-md-6.tab-col
                    .d-md-flex.tab-flex-d
                      .col-md-1.tab-img-col
                        img(src="../img/about/innovadores.png" alt="Innovadores")
                      .col-md-11.tab-text-col
                        h3 Innovadores:
                        p Somos una empresa que le apuesta a las nuevas ideas y tecnologías de la industria de la creación de Glass packaging. 
                .d-md-flex.tab-flex
                  .col-md-6.tab-col
                    .d-md-flex.tab-flex-d
                      .col-md-1.tab-img-col
                        img(src="../img/about/conscientes.png" alt="Conscientes")
                      .col-md-11.tab-text-col
                        h3 Conscientes:
                        p Somos una empresa responsable y consciente de la industria, construimos iniciativas y soluciones pensadas en el ecosistema.
                  .col-md-6.tab-col
                    .d-md-flex.tab-flex-d
                      .col-md-1.tab-img-col
                        img(src="../img/about/integrales.png" alt="Integrales")
                      .col-md-11.tab-text-col
                        h3 Integrales:
                        p Nuestras metodologías y servicios son integrales, acompañan a las personas en cualquier parte de su proceso para construir soluciones a la medida.          
          section.work
            .container
              .d-md-flex.work-flex
                .col-12.work-col
                  h2 Work with us!
                  form
                    .form-row.work-row
                      .form-group.col-md-3.form-col
                        input.form-control-plaintext(type='text', placeholder='Nombre')
                      .form-group.col-md-3.form-col
                        input.form-control-plaintext(type='text', placeholder='Apellido')
                      .form-group.col-md-3.form-col
                        input.form-control-plaintext(type='email', placeholder='Email')
                    .form-row.work-row
                      .form-group.col-md-3.form-col
                        input.form-control-plaintext(type='text', placeholder='Categorías')
                      .form-group.col-md-2.form-col
                        input.form-control-plaintext(type='text', placeholder='Ciudad')
                      .form-group.col-md-3.form-col
                        input.form-control-plaintext(type='file', placeholder='Categorías')  
                      button.btn.btn-primary(type='submit') Enviar
          section.colab
            .container
              .d-md-flex.colab-flex
                .col-12.colab-col
                  .text-area
                    p Colaboramos con el desarrollo de las economías locales en los países donde operamos, creando oportunidades laborales, capacitación especializada y prosperidad para la industria nacional.
                    
          section.clientes
            .container
              .col-md-12
                h2 Nuestros clientes
                .swiper-container.slider-clientes
                  .swiper-wrapper
                    .swiper-slide
                      img(src="/img/home/jose_cuervo.webp", alt="Botón de reproducción")
                    .swiper-slide
                      img(src="/img/home/ron_abuelo.webp", alt="Botón de reproducción")
                    .swiper-slide
                      img(src="/img/home/nativo.webp", alt="Botón de reproducción")
                
                  .swiper-button-next 
                  
    include includes/contact-us.pug
    include includes/footer.pug          
    include includes/modal.pug  
