- titulo = "Blog"
- tituloCabecera = "Headline"
- var subtituloCabecera = "Lorem ipsum dolor sit amet."

doctype
html(lang='es')

    include includes/head.pug

    body
        include includes/header.pug
        main.blog
          section.text
            .container
              .d-md-flex
                .col-12
                  .text-area
                    h1 Nos mantenemos al día con las tendencias, novedades y oportunidades de la industria a nivel global.
          section.blog-l
            .container
              .d-md-flex
                .col-12
                  .card-content
                    .card
                      .card-image
                        a.share(href="#")
                          img(src="../img/blog/.png" alt="share") 
                        a(href="#")
                          img(src="../img/blog/blog1.png")
                      .card-info
                        a(href="#")  
                          h3 Nombre Blog
                        p.date Fecha
                        p Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum eros arcu, a placerat eros aliquet eget. 
                    .card
                      .card-image
                        a.share(href="#")
                          img(src="../img/blog/.png" alt="share") 
                        a(href="#")
                          img(src="../img/blog/blog2.png")  
                      .card-info
                        a(href="#")
                          h3 Nombre Blog
                        p.date Fecha
                        p Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum eros arcu, a placerat eros aliquet eget.    
                    .card
                      .card-image
                        a.share(href="#")
                          img(src="../img/blog/.png" alt="share") 
                        a(href="#")
                          img(src="../img/blog/blog3.png")
                      .card-info
                        a(href="#")      
                          h3 Nombre Blog
                        p.date Fecha
                        p Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum eros arcu, a placerat eros aliquet eget.    
                    .card
                      .card-image
                        a.share(href="#")
                          img(src="../img/blog/.png" alt="share") 
                        a(href="#")
                          img(src="../img/blog/blog4.png")
                      .card-info
                        a(href="#")          
                          h3 Nombre Blog
                        p.date Fecha
                        p Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin elementum eros arcu, a placerat eros aliquet eget.              
    include includes/contact-us.pug
    include includes/footer.pug          
    include includes/modal.pug   
