doctype
html(lang='es')
  include includes/head.pug

  body
    include includes/header.pug
    main.contacto
      section.form
        .container
          .d-md-flex
            .col-12
              h2 Write us Contact us
              form
                .form-row
                  .form-group.col-md-4
                    input.form-control-plaintext(type='text', placeholder='Nombre')
                  .form-group.col-md-4
                    input.form-control-plaintext(type='text', placeholder='Apellido')
                .form-row
                  .form-group.col-md-4
                    input.form-control-plaintext(type='email', placeholder='Email')
                  .form-group.col-md-4
                    input.form-control-plaintext(type='text', placeholder='Ubicación')
                .form-row
                  .form-group.col-md-8
                    select.form-control-plaintext
                      option(selected) Asuntos...
                      option Asunto 1...
                      option Asunto 2...
                .form-row
                  .form-group.col-md-8
                      textarea.form-control-plaintext(placeholder='Mensaje')
                button.btn.btn-primary(type='submit') Enviar
          .d-flex
            .col-3
              img(src="../img/contacto/iconoubicacion.webp" alt="icono ubicacion")
              h3 UNITED STATES
              p Ciudad-Ciudad-Ciudad
              ul
                li Direccion
                li Teléfono
            .col-3
              img(src="../img/contacto/iconoubicacion.webp" alt="icono ubicacion")
              h3 LATIN AMERICA
              p Panamá-Ciudad-Ciudad
              ul
                li Direccion
                li Teléfono
          .col      
            h2 Para negocios / Alianzas
            p ESCRÍBENOS A INFO@BPSGLASS.compra
          
    include includes/footer.pug          
    include includes/modal.pug
