
doctype
html(lang='es')
  include includes/head.pug

  body
    include includes/header.pug
    main.home
      section.hero
      - parrafoCabecera = "Somos especialistas en soluciones a la medida para compañías en la industria del vidrio."
        include includes/cabecera.pug
                          
      section.solutions
        .swiper-container.slider-standard
          .swiper-wrapper
            .swiper-slide
              img.play-btn(src="/img/home/background-solutions.webp", alt="background")
              .text-container
                h2 Beverage & #[br]  Packaging Solutions
                p #[b Contamos con un equipo multidisciplinario especializado en cada una de las etapas de la cadena de valor de productos empacados en vidrio.] Diseñamos soluciones personalizadas para guiarte durante todo el proceso de lanzamiento de tu producto.
                a(href="/contacto") Agenda una cita
            
      section.servicios
        .container
          .col-md-12
            h2 Servicios
            .swiper-container.slider-servicios
              .swiper-wrapper
                .swiper-slide
                  .title
                    h3 Beverage & Packaging solutions
                  .content
                    ul
                      li CLOSURES 
                      li PINTURA Y DECORACIONES 
                      li INGENIERÍA 
                      li DISEÑO
                    ul
                      li DOBLADOS 
                      li ETIQUETA 
                      li CORCHOS
                .swiper-slide
                  .title
                    h3 BPS Glass
                  .content
                    ul
                      li BEBIDAS ESPIRITUOSAS 
                      li VINOS 
                      li CERVEZAS 
                    ul
                      li COMIDAS Y BEBIDAS 
                      li ACEITE DE OLIVA 
                      li DECANTADORES
                    
              .swiper-button-next 
              a(href="#") Conoce todos nuestros servicios
              
      section.video
        .container
          .col
            h2 Diferencial
          .d-md-flex  
            .col-md-6.play
              img.play-btn(src="/img/play-button.webp", alt="Botón de reproducción")
            .col-md-6.text-container
              p.big Ofrecemos un acompañamiento integral en toda la cadena de valor.
              p Creamos, diseñamos y asesoramos proyectos desde la idea hasta el producto final, su comercialización y recolección.
            
      section.innovacion
        .container
          .col
            h2 Sostenibilidad · Innovación
          .swiper-container.slider-standard
            .swiper-wrapper
              .swiper-slide
                .d-md-flex
                  .col-md-6.img-container
                    img.play-btn(src="/img/home/innovacion.webp", alt="innovacion")
                  .col-md-8.offset-md-4.text-container
                    p.big Desarrollamos procesos y metodologías propias.
                    p Durante los sesenta años de trayectoria de BPS Glass hemos visto crecer la categoría desde adentro. Conocemos las necesidades de los negocios u organizaciones que envasan sus productos en vidrio y requieren empaques especializados, por lo cual constantemente perfeccionamos y actualizamos nuestros métodos de trabajo.
                    a(href="#") Ver más
              .swiper-slide
                .d-md-flex
                  .col-md-6.img-container
                    img.play-btn(src="/img/home/innovacion.webp", alt="innovacion")
                  .col-md-8.offset-md-4.text-container
                    p.big Desarrollamos procesos y metodologías propias.
                    p Durante los sesenta años de trayectoria de BPS Glass hemos visto crecer la categoría desde adentro. Conocemos las necesidades de los negocios u organizaciones que envasan sus productos en vidrio y requieren empaques especializados, por lo cual constantemente perfeccionamos y actualizamos nuestros métodos de trabajo.
                    a(href="#") Ver más
              .swiper-slide
                .d-md-flex
                  .col-md-6.img-container
                    img.play-btn(src="/img/home/innovacion.webp", alt="innovacion")
                  .col-md-8.offset-md-4.text-container
                    p.big Desarrollamos procesos y metodologías propias.
                    p Durante los sesenta años de trayectoria de BPS Glass hemos visto crecer la categoría desde adentro. Conocemos las necesidades de los negocios u organizaciones que envasan sus productos en vidrio y requieren empaques especializados, por lo cual constantemente perfeccionamos y actualizamos nuestros métodos de trabajo.
                    a(href="#") Ver más
              .swiper-slide
                .d-md-flex
                  .col-md-6.img-container
                    img.play-btn(src="/img/home/innovacion.webp", alt="innovacion")
                  .col-md-8.offset-md-4.text-container
                    p.big Desarrollamos procesos y metodologías propias.
                    p Durante los sesenta años de trayectoria de BPS Glass hemos visto crecer la categoría desde adentro. Conocemos las necesidades de los negocios u organizaciones que envasan sus productos en vidrio y requieren empaques especializados, por lo cual constantemente perfeccionamos y actualizamos nuestros métodos de trabajo.
                    a(href="#") Ver más
              .swiper-slide
                .d-md-flex
                  .col-md-6.img-container
                    img.play-btn(src="/img/home/innovacion.webp", alt="innovacion")
                  .col-md-8.offset-md-4.text-container
                    p.big Desarrollamos procesos y metodologías propias.
                    p Durante los sesenta años de trayectoria de BPS Glass hemos visto crecer la categoría desde adentro. Conocemos las necesidades de los negocios u organizaciones que envasan sus productos en vidrio y requieren empaques especializados, por lo cual constantemente perfeccionamos y actualizamos nuestros métodos de trabajo.
                    a(href="#") Ver más
              .swiper-slide
                .d-md-flex
                  .col-md-6.img-container
                    img.play-btn(src="/img/home/innovacion.webp", alt="innovacion")
                  .col-md-8.offset-md-4.text-container
                    p.big Desarrollamos procesos y metodologías propias.
                    p Durante los sesenta años de trayectoria de BPS Glass hemos visto crecer la categoría desde adentro. Conocemos las necesidades de los negocios u organizaciones que envasan sus productos en vidrio y requieren empaques especializados, por lo cual constantemente perfeccionamos y actualizamos nuestros métodos de trabajo.
                    a(href="#") Ver más
                    
            .swiper-pagination
        
        .decoration
      
          
      section.trabajos
        .container
          .col-md-12
            h2 Nuestros trabajos
        .swiper-container.slider-vertical
          .swiper-wrapper
            .swiper-slide
              img.desktop(src="/img/home/our-work.webp", alt="our-work")
              img.mobile(src="/img/home/our-work-mobile.webp", alt="our-work")
              .text-container
                h3 Diplomático
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a posuere ligula, non aliquam neque.
            .swiper-slide
              img.desktop(src="/img/home/our-work.webp", alt="our-work")
              img.mobile(src="/img/home/our-work-mobile.webp", alt="our-work")
              .text-container
                h3 Diplomático
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a posuere ligula, non aliquam neque.
          .swiper-pagination
          .swiper-button-next   
              
      section.clientes
        .container
          .col-md-12
            h2 Nuestros clientes
            .swiper-container.slider-clientes
              .swiper-wrapper
                .swiper-slide
                  img(src="/img/home/jose_cuervo.webp", alt="Botón de reproducción")
                .swiper-slide
                  img(src="/img/home/ron_abuelo.webp", alt="Botón de reproducción")
                .swiper-slide
                  img(src="/img/home/nativo.webp", alt="Botón de reproducción")
            
              .swiper-button-next 

    include includes/modal.pug

    include includes/contact-us.pug
    include includes/footer.pug
