- titulo = "Innovación"
- tituloCabecera = "Headline"
- var subtituloCabecera = "Lorem ipsum dolor sit amet."

doctype
html(lang='es')

    include includes/head.pug

    body
        include includes/header.pug
        main.innovacion
          section.creamos
            .container
              .d-md-flex.creamos-flex
                .col-md-7.creamos-col-7
                  .swiper-container.slider-vertical3
                    .swiper-wrapper
                      .swiper-slide
                        img.desktop(src="/img/innovacion/enfoque.webp", alt="enfoque")
                        img.mobile(src="/img/innovacion/enfoque.webp", alt="enfoque")
                      .swiper-slide
                        img.desktop(src="/img/innovacion/enfoque.webp", alt="enfoque")
                        img.mobile(src="/img/innovacion/enfoque.webp", alt="enfoque")
                .col-md-5.creamos-col-5
                  .text-area
                    h3 Creamos soluciones a partir de ideas novedosas, apoyadas en el conocimiento y la tecnología.
                    p Nos enfocamos en que cada uno de nuestros colaboradores conozca la operación y la cadena completa para aportar sus conocimientos de forma integral, esto nos faculta para ofrecer a nuestros clientes una asesoría certera.
                    a.desktop(href="#") Conoce nuestras iniciativas
                    
          section.divisor
            .container
              .d-md-flex.divisor-flex
                .col-md-6.divisor-col-6
                  .divisor-container
                    .img-area.c
                      img(src="../img/innovacion/diseño.png")
                    .text-area
                      h3 Diseño
                      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eo  
                .col-md-6.divisor-col-6
                  .divisor-container
                    .img-area.c
                      img(src="../img/innovacion/materiales.png")
                    .text-area
                      h3 Materiales
                      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eo  
                .col-md-6.divisor-col-6
                  .divisor-container
                    .img-area
                      img(src="../img/innovacion/tecnicas.png")
                    .text-area
                      h3 Técnicas de producción
                      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eo  
                .col-md-6.divisor-col-6     
                  .divisor-container
                    .img-area
                      img(src="../img/innovacion/tecnologia.png")
                    .text-area
                      h3 Tecnología de producción
                      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eo         
              .white-box.white-box-1
                    
          section.background
            .container
              .d-md-flex
                .col-12
                  
    include includes/contact-us.pug
    include includes/footer.pug          
    include includes/modal.pug                           
