
doctype
html(lang='es')

    include includes/head.pug

    body
        include includes/header.pug
        main.metodologia
          section.intro
            .container
              .col.titulo
                h1 Metodología 360: #[br.d-md-none] Transformamos ideas en productos exitosos.
                p Desarrollamos una metodilogía propia que nos permite tomar los objetivos de nuestros clientes y transdormarlos en bienes tangibles. Ésta contempla además de todo lo relacionado a diseño y manofactura de glass packaging, servicios de logistica y adquisición en todo el mundo.

          section#features
            .container
              .big-circle
                .small-circle
                .bullets.bullet-1
                .bullets.bullet-2
                .bullets.bullet-3
                .bullets.bullet-4
                
              .swiper-container.slider-vertical2
                .swiper-wrapper
                  .swiper-slide
                    img.play-btn(src="/img/metodologia/Grupo383.webp", alt="control de calidad")
                    .text-container
                      h3 Control de calidad
                      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, dolor sit amet, consetetur sadipscing elitr, sed diamsed diam
                  .swiper-slide
                    img.play-btn(src="/img/metodologia/Grupo382.webp", alt="control de calidad")
                    .text-container
                      h3 Servicios logísticos
                      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, dolor sit amet, consetetur sadipscing elitr, sed diamsed diam
                  .swiper-slide
                    img.play-btn(src="/img/metodologia/Grupo388.webp", alt="control de calidad")
                    .text-container
                      h3 Atención personalizada
                      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, dolor sit amet, consetetur sadipscing elitr, sed diamsed diam
                  .swiper-slide
                    img.play-btn(src="/img/metodologia/Grupo387.webp", alt="control de calidad")
                    .text-container
                      h3 Investigación y desarrollo
                      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, dolor sit amet, consetetur sadipscing elitr, sed diamsed diam
                  .swiper-slide
                    img.play-btn(src="/img/metodologia/Grupo386.webp", alt="control de calidad")
                    .text-container
                      h3 Soluciones de emborellado
                      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, dolor sit amet, consetetur sadipscing elitr, sed diamsed diam
                  .swiper-slide
                    img.play-btn(src="/img/metodologia/Grupo385.webp", alt="control de calidad")
                    .text-container
                      h3 Diseño integral
                      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, dolor sit amet, consetetur sadipscing elitr, sed diamsed diam
                  .swiper-slide
                    img.play-btn(src="/img/metodologia/Grupo384.webp", alt="control de calidad")
                    .text-container
                      h3 Ingeniería aplicada a empaque
                      p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, dolor sit amet, consetetur sadipscing elitr, sed diamsed diam
                      
                .swiper-pagination
                .swiper-button-next   
          
          section.text
            .container
              .col
                p La implementación de nuestra metodología se adapta a las necesidades de cada empresa u organización, dando como resultado un producto único y altamente competitivo.
            
        include includes/contact-us.pug
        include includes/footer.pug     
