
doctype
html(lang='es')
  include includes/head.pug

  body
    include includes/header.pug
    main.productos
      section.catalogo
        .container
          .d-md-flex
            .col-md-4
              .dropdown
                button.btn.dropdown-toggle#productType(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false').
                  Product type
                .dropdown-menu(aria-labelledby='productType')
                  a.dropdown-item(href='#') Action
                  a.dropdown-item(href='#') Another action
                  a.dropdown-item(href='#') Something else here
              .dropdown 
                button.btn.dropdown-toggle#size(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false').
                  Size
                .dropdown-menu(aria-labelledby='size')
                  a.dropdown-item(href='#') Action
                  a.dropdown-item(href='#') Another action
                  a.dropdown-item(href='#') Something else here
              .dropdown 
                button.btn.dropdown-toggle#feature(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false').
                  Feature
                .dropdown-menu(aria-labelledby='feature')
                  a.dropdown-item(href='#') Action
                  a.dropdown-item(href='#') Another action
                  a.dropdown-item(href='#') Something else here
              .dropdown 
                button.btn.dropdown-toggle#tango(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false').
                  Rango
                .dropdown-menu(aria-labelledby='tango')
                  a.dropdown-item(href='#') Action
                  a.dropdown-item(href='#') Another action
                  a.dropdown-item(href='#') Something else here
              .dropdown 
                button.btn.dropdown-toggle#Industria(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false').
                  Industria
                .dropdown-menu(aria-labelledby='Industria')
                  a.dropdown-item(href='#') Action
                  a.dropdown-item(href='#') Another action
                  a.dropdown-item(href='#') Something else here
              button.desktop.btn.download Descargar catálogo completo
            .col.mobile
              button.btn.download Descargar catálogo completo
              
            .d-flex.flex-wrap.relative
              .white-box.white-box-1
              .white-box.white-box-2
              .white-box.white-box-3
              .white-box.white-box-4
              .white-box.white-box-5
              .white-box.white-box-6
              .col-6.p-0
                .product-container
                  p.type A type
                  .img-container
                    img.play-btn(src="/img/productos/PORTOBELLO.webp", alt="PORTOBELLO")
                  p.description #[b Lorem ipsum dolor.]#[br] Lorem ipsum dolor sit amet, consectetur.
              .col-6.p-0
                .product-container
                  p.type B type
                  .img-container
                    img.play-btn(src="/img/productos/GENERICA645.webp", alt="GENERICA645")
                  p.description #[b Lorem ipsum dolor.]#[br] Lorem ipsum dolor sit amet, consectetur.
              .col-6.p-0
                .product-container
                  p.type C type
                  .img-container
                    img.play-btn(src="/img/productos/BARRELLIQUOR.webp", alt="BARRELLIQUOR")
                  p.description #[b Lorem ipsum dolor.]#[br] Lorem ipsum dolor sit amet, consectetur.
              .col-6.p-0
                .product-container
                  p.type D type
                  .img-container
                    img.play-btn(src="/img/productos/LIQUORCHERRY.webp", alt="LIQUORCHERRY")
                  p.description #[b Lorem ipsum dolor.]#[br] Lorem ipsum dolor sit amet, consectetur.
                  
      section.slider
        .container
          .swiper-container.slider-vertical
            .swiper-wrapper
              .swiper-slide
                img(src="/img/productos/botellas.webp", alt="botellas")
              .swiper-slide
                img(src="/img/productos/botellas.webp", alt="botellas")
            .swiper-pagination
            .swiper-button-next   


    include includes/contact-us.pug
    include includes/footer.pug
