- titulo = "Soluciones"
- tituloCabecera = "Headline"
- var subtituloCabecera = "Lorem ipsum dolor sit amet."

doctype
html(lang='es')

    include includes/head.pug

    body
        include includes/header.pug
        main.soluciones
          section.asesoramos
            .container
              .col-md-12.asesoramos-col
                .text-area
                  h1 Asesoramos empresas en todas partes del mundo, combinando nuestra experiencia, tecnología y buenas prácticas en la industria del vidrio      
          section.slider-s
            .container
              .col-md-12.offset-md-1.s-col
                .swiper-container#solucionesuno
                  .swiper-wrapper
                    .swiper-slide
                      .box
                        h2 Vidrio
                        p Contamos con un catálogo de más de 70 tipos de botellas de vidrio en diferentes tamaños, formas, acabados, colores y estilos. De acuerdo a las necesidades de cada cliente, podemos guiarlos para determinar cuál es el mejor empaque para un producto, con opciones especializadas para distintos tipos de líquidos entre ellos bebidas espirituosas, vinos, cerveza, perfumería u otros. De igual forma, contamos con un equipo de diseño especializado para crear envases a la medida.
                        .swiper-button-next   
                    .swiper-slide
                      .box
                        h2 Packaging
                        p El empaque es la carta de presentación de un producto, determinante en la percepción del público y muchas veces de la decisión de compra en el punto de venta. En el caso de las bebidas de lujo la experiencia inicia con el tacto del producto y su “unboxing”, por esta razón en BPS Glass asesoramos a nuestros clientes para potenciar sus atributos diferenciales desde la apertura del empaque.
                        .swiper-button-next   
                    .swiper-slide
                      .box
                        h2 Etiquetas
                        p El diseño del label influye en el valor percibido de cualquier producto, desde la psicología del color hasta el uso de otros sentidos a través de texturas o efectos. Pero, por encima de todo, la etiqueta permite al consumidor reconocer y preferir una marca por sobre otras. Desde BPS Glass nos mantenemos monitoreando las tendencias de mercado para ofrecer a nuestros clientes diseños, formas, materiales y todo nuestro conocimiento en la categoría para crear la armonía adecuada entre botella, etiqueta y empaque.
                        .swiper-button-next   
          section.tabulador
            .container
              .d-md-flex.tab-flex
                .col-md-9.offset-md-3.tab-os
                  .d-md-flex.tab-col-flex
                    .col-md-3.col-img
                      .img-area
                        img(src="../img/soluciones/manofactura.png" alt="Manofactura de vidrio")
                    .col-md-9.col-text
                      .text-area
                        h2 Manofactura de vidrio
                        p Además de un catálogo con más de 70 botellas en stock, diseños propios patentados por BPGlass y envases totalmente personalizados.
                  .d-md-flex.tab-col-flex
                    .col-md-3.col-img
                      .img-area
                        img(src="../img/soluciones/control.png" alt="Control de Calidad")
                    .col-md-9.col-text
                      .text-area
                        h2 Control de calidad
                        p Tenemos el expertis y la trayectoria necesaria para supervisar que se cumplan los más exigentes requerimientos. 
                  .d-md-flex.tab-col-flex
                    .col-md-3.col-img
                      .img-area
                        img(src="../img/soluciones/diseño.png" alt="Diseño")
                    .col-md-9.col-text
                      .text-area
                        h2 Diseño
                        p Te acompañamos en el diseño del packaging para lograr ese impacto visual y éxito comercial que buscas. 
                  .d-md-flex.tab-col-flex
                    .col-md-3.col-img
                      .img-area
                        img(src="../img/soluciones/servicios.png" alt="Servicios logísticos")
                    .col-md-9.col-text
                      .text-area
                        h2 Servicios logísticos
                        p Nuestras oficinas principales están ubicadas en Panamá, permiténdonos una conexión y distribución expedita a nivel global.
                  .d-md-flex.tab-col-flex
                    .col-md-3.col-img
                      .img-area
                        img(src="../img/soluciones/asesorias.png" alt="Asesorias de mercadeo especializado")
                    .col-md-9.col-text
                      .text-area
                        h2 Asesorías de mercadeo especializado
                        p Conocemos el mercado global y las particularidades de cada región, las tendencias de la industria y sus nichos de oportunidad.        
                  .d-md-flex.tab-col-flex
                    .col-md-3.col-img
                      .img-area
                        img(src="../img/soluciones/pack.png" alt="Asesorías sobre packaging")
                    .col-md-9.col-text
                      .text-area
                        h2 Asesorías sobre packaging
                        p Guiamos a nuestros clientes para potenciar sus atributos diferenciales desde la apertura del empaque.
          section.gracias
            .container
              .d-md-flex.g-flex
                .col-md-12.g-col
                  .text-area
                    p Gracias a nuestra filosofía de construir relaciones duraderas, contamos con una robusta red de contactos a nivel mundial, que potenciamos al mantener nuestras oficinas principales en Ciudad de Panamá, una posición privilegiada para responder de manera ágil y eficaz a las necesidades de cada cliente en los cinco continentes.        
    include includes/contact-us.pug
    include includes/footer.pug          
    include includes/modal.pug
