- titulo = "Sostenibilidad"
- tituloCabecera = "Headline"
- var subtituloCabecera = "Lorem ipsum dolor sit amet."

doctype
html(lang='es')

    include includes/head.pug

    body
        include includes/header.pug
        main.sostenibilidad
          section.creemos
            .container
              .d-md-flex.creemos-flex
                .col-12.creemos-col
                  .text-area
                    p Creemos en la industria del vidrio como motor de cambio positivo, lo cual nos motiva a hacerla crecer de forma sostenible.
                    
          section.responsables
            .container
              .d-md-flex.responsables-flex
                .col-md-7.responsables-col-6
                  .text-area
                    h3 Nos hacemos responsables de la huella ambiental y social que tienen nuestras operaciones a nivel mundial.
                    p Desde 2007 formalizamos nuestros esfuerzos por ser más sostenibles, desarrollando un plan a largo plazo para generar cambios en toda la cadena, posicionándonos como las botellas más sostenibles de la región.
                .col-md-5.responsables-col-6
                  .img-area
                    img(src="../img/sostenibilidad/markers-mark.png" alt="Maker´s Mark")   
                       
          section.slider
            .swiper-container.slider-centered
              .swiper-wrapper
                .swiper-slide
                  img(src="../img/sostenibilidad/clean.png" alt="imagen")
                  .text-area
                    h3 Clean Energy:
                    p Utilizamos alrededor del 60% de energía eólica para nuestras operaciones.
                .swiper-slide
                  img(src="../img/sostenibilidad/reciclaje.png" alt="imagen")
                  .text-area
                    h3 Reciclaje
                    p Contamos con un sistema de recolección y recuperación de contenedores que son tratados en nuestra planta de reciclaje, de esta manera vuelven a tener una vida útil como materia prima y evitamos consumir vidrio nuevo lo cual reduce nuestra huella de carbono.
                .swiper-slide
                  img(src="../img/sostenibilidad/decoraciones.png" alt="imagen")
                  .text-area
                    h3 Decoraciones conscientes:
                    p El proceso de esmaltado de nuestras botellas es amigable con el ambiente al funcionar gracias a la redirección del agua, de igual forma las tintas utilizadas son a base de agua y libres de metales pesados.
                .swiper-slide
                  img(src="../img/sostenibilidad/emisiones.png" alt="imagen")
                  .text-area
                    h3 Control de emisiones
                    p Implementamos un sistema de filtro de emisiones nocivas para la atmósfera, así como un sofisticado sistema de tratamientos de agua con estándares europeos.
              .swiper-button-prev
              .swiper-button-next
                           
          section.sellos
            .container
              .d-md-flex.certificaciones-flex
                .col-md-12.certificaciones-col
                  h2 Nuestras certificaciones  
              .d-md-flex.sellos-flex
                .col-md-12.sellos-col
                  .swiper-container.slider-certificaciones
                    .swiper-wrapper
                      .sello.swiper-slide
                        img(src="../img/sostenibilidad/sello.png" alt="Certifiación")
                        .text-area
                          h3 Nombre del sello
                      .sello.swiper-slide  
                        img(src="../img/sostenibilidad/sello.png" alt="Certifiación")
                        .text-area
                          h3 Nombre del sello 
                      .sello.swiper-slide   
                        img(src="../img/sostenibilidad/sello.png" alt="Certifiación")
                        .text-area
                          h3 Nombre del sello
                      .sello.swiper-slide
                        img(src="../img/sostenibilidad/sello.png" alt="Certifiación")
                        .text-area
                          h3 Nombre del sello
                      .sello.swiper-slide
                        img(src="../img/sostenibilidad/sello.png" alt="Certifiación")
                        .text-area
                          h3 Nombre del sello                        
    include includes/contact-us.pug
    include includes/footer.pug          
    include includes/modal.pug   
