.footer{
  padding: 80px 0 0;
  background-color: var(--brandColorDarkBlue);
  @media (max-width: 480px){
    padding: 50px 0 0;
  }

  ul{
    @include unstyled-list;
    margin-bottom: 0;

    li{
      margin-bottom: 15px;
      a{
        padding: 0;
        color: var(--secondaryColor);
        font-weight: 600;
        text-transform: uppercase;

        &:hover{
          color: var(--brandColorLightBlue);
        }
      }
    }
  }
  .right{
    display: flex;
    flex-flow: column;
  }
  .footer-logo{
    text-align: right;
    @media (max-width: 480px){
      text-align: left;
      margin-bottom: 60px;
    }
    img{
      width: 340px;
      @media (max-width: 480px){
        width: 255px;
      }
    }
  }
  .social-media{
    margin-top: auto;
    height: 32px;
    margin-left: auto;
    @media (max-width: 480px){
      margin-top: 40px;
      margin-left: 0;
    }
    img {
  height: 26px;
  width: auto;
  margin-left: 23px;
      @media (max-width: 480px){
        margin-left: 0;
        margin-right: 30px;
      }
    }
  }
  .disclaimer{
    background-color: var(--disclaimer);
    color: var(--brandColorDarkBlue);
    text-align: center;
    padding: 30px;
    margin-top: 80px;
    p{
      margin-bottom: 0;
      @media (max-width: 480px){
        font-size: 15px;
      }
    }
  }
}
