.header{
  width: 100%;
  z-index: 999;
  position: fixed;
  transition: .3s ease-in-out all;
  @media (max-width: 480px){
    min-height: 55px;
    background-color: var(--secondaryColor);
    box-shadow: 0px 2px 15px rgba(0,0,0,.5);
  }

  .container{
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

    .row{
      width: 100%;

      [class*="col-"]{
        padding: 0;
      }
    }

  }


  &--navegacion{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    #logo-brand{
      position: absolute;
      top: 2em;
      @media (max-width: 480px){
        top: 1em;
      }

      img{
        width: 211px;
        @media (max-width: 480px){
          width: 144px;
        }
      }
    }

    .navbar-expand-lg{
      width: 100%;
      border-bottom: 1px solid var(--secondaryColor);
    }
    .navbar-collapse{
      justify-content: flex-end;
    }

    .btn{
      width: 40px;
      height: 40px;
      background: transparent;
      transition: .2s ease-in-out all;
      position: absolute;
      right: 0;
      margin: 1em auto;
      padding: 10px 5px;
      @media (max-width: 480px){
        margin: .5em auto;
      }

      span{
        width: 100%;
        height: 3px;
        background-color: var(--brandColorDarkBlue);
        display: block;
        margin-bottom: 4px;
      }

      &.nav-on{
        // background: url("../img/close.svg") no-repeat center / 25px;
      }
    }

    #navbarNav{


      ul{
        max-width: 850px;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;

        li{
          text-align: left;
          list-style: none;
          padding: .5em 1.5em;
          margin: 1.5em 0;
          cursor: pointer;
          color: var(--textHeader);
          font-family: var(--primariaBold);
          font-size: 16px;
          position: relative;
          display: flex;
          &.dark{
            display: none;
          }

          &.langen{
            margin-left: 0;
            margin-right: 0;
            padding-right: 0;
            padding-left: 0;

            a{
              border-left: 1px solid var(--secondaryColor);
              padding-left: 2em;

            }
          }
          &.langes{
            margin-left: 12px;
            padding-left: 0;

            &:after{
              content: "";
              position: absolute;
              left: -8px;
              top: 21px;
              width: 4px;
              height: 4px;
              display: block;
              background-color: #fff;
              border-radius: 100%;
            }
          }
          &.selectitem{
            background-color: var(--textHeader);
            color: var(--brandColorDarkBlue);
            padding: .7em 4em .7em 3em;
            border-radius: 47px;
            position: relative;

            &::after{
              content: "";
              background-image: url(/wp-content/themes/BPSglass/assets/img/dropdown.png);
              width: 20px;
              height: 20px;
              display: block;
              position: absolute;
              background-repeat: no-repeat;
              right: 15px;
              top: 45%;
              background-size: 20px;
            }
          }
          &.icon{
            margin-left: 10px;
            margin-right: 10px;
            padding: 0;
            img{
              width: auto;
              height: 46px;
            }
            span{
              &.menu-image-title-after {
                display: none;
              }
            }

          }

          a{
            color: inherit;
            text-decoration: none;
            padding: 0;
            margin: auto;
            display: flex;

            span{
              margin: auto;
            }

            &:before{
              content: "";
              position: absolute;
              background-color: var(--brandColorLightBlue);
              width: 50px;
              height: 50px;
              top: -60px;
              left: 50%;
              transform: translateX(-50%) scale(0);
              border-radius: 100px;
              transition: all 300ms ease-in-out;
            }

            &:hover, &.activo {
              &:before{
                transform: translateX(-50%) scale(1);
                transition: all 300ms ease-in-out;
              }
            }
          }
          &.active {
            a{
              font-weight: 600;
              &:before{
                transform: translateX(-50%) scale(1);
                transition: all 300ms ease-in-out;
              }
            }

          }
          img{
            transition: .3s ease-in-out all;
          }
        }
      }
      &.dark-header{

        ul{
          li{
            color: var(--brandColorDarkBlue);

            &.light{
              display: none;
            }
            &.dark{
              display: block;
            }
            &.selectitem{
              background-color: var(--brandColorDarkBlue);
              color: var(--secondaryColor);

              &::after{
                background-image: url(/wp-content/themes/BPSglass/assets/img/dropdownLight.png);
              }
            }
          }
        }
      }
    }

  }

  &.activo{
    background: var(--brandColorDarkBlue);

    @media (max-width: 480px){
      background-color: var(--secondaryColor);
    }

    .navbar-expand-lg{
      border: none;
    }
    ul li img{
      width: 100px;
    }
  }
  &.dark_header{
    .navbar-expand-lg{
      border-bottom: 1px solid var(--brandColorDarkBlue);
    }

    &.activo{
      background: var(--secondaryColor);
      .navbar-expand-lg{
        border-bottom: none;
      }
    }

  }
}
.icon.search.mobile{
  width: fit-content;
  position: absolute;
  right: 30px;
}
