// **** \\ STYLES_CSS // **** //

* {
  font-family: 'Visuelt Pro';
  scroll-margin-top: 100px;
}
html, body{
  scroll-behavior: smooth;
}

body {
  // background: $primaryColor;
  overflow-x: hidden !important;


  @import "header";
  @import "footer";
  @import "pages/stylesGenerals";
  @import "pages/_home";
  @import "pages/_faqs";
  @import "pages/_soluciones";
  @import "pages/_contacto";
  @import "pages/_about";
  @import "pages/_innovacion";
  @import "pages/_blog";
  @import "pages/_sostenibilidad";
  @import "pages/_productos";
  @import "pages/_metodologia";

}

h1, h2, h3, h4, h5, h6{
  font-family: 'Corbel';
  font-weight: normal;
}
