@font-face {
    font-family: 'Visuelt Pro';
    src: url('VisueltPro-Medium.eot');
    src: url('VisueltPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('VisueltPro-Medium.woff2') format('woff2'),
        url('VisueltPro-Medium.woff') format('woff'),
        url('VisueltPro-Medium.ttf') format('truetype'),
        url('VisueltPro-Medium.svg#VisueltPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

